.Meaning h3 {
  font-size: 26px;
  line-height: 1.5;
  font-weight: bold;
}
.Meaning .definition {
  font-size: 18px;
}
.Meaning .example {
  margin-top: 5px;
  font-size: 15px;
  opacity: 0.8;
  font-style: italic;
}
